body {
  margin:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items:center;
  height:100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.completedTodoItem {
  text-decoration: line-through;
  color:grey;
  list-style: none;
}

.todoItem {
  list-style: none;
}

.button {
  color: red;
  background-color: rgba(255, 0, 0, 0.066);
  border: grey solid 1px;
  border-radius: 100px;
  margin-left: 10px;
}