body {
  margin:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items:center;
  height:100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.completed {
  text-decoration: line-through;
  color:grey;
}

.delete {
  background-color: rgba(255,255,255,0);
  border: none;
  font-size: 0.7em;
}

li > * {
  margin: 0 5px;
}