body {
  margin:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items:center;
  height:100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.completed {
  text-decoration: line-through;
  color:grey;
}

ul {
  list-style: none;
}

li {
  display: grid;
  grid-template-columns: 150px 200px;
  gap: 10px;
  font-size: 20px;
  border-bottom: solid 1px black;
  padding: 10px;
}

.button-div button {
  margin: 5px;
  font-size: 18px;
}
